.homeless {
  display: flex;
}
.hCard {
  margin-left: 1rem;
}
h2 {
  text-align: center;
  color: #383874;
  font-weight: 400;
  margin: 2rem 0 2rem 0;
}
.wrapper {
   width: 80%;
   margin:0px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
}
@media only screen and (max-width: 1030px) {
  .homeless {
    flex-direction: column;
  }
  .hCard {
    margin-top: 1rem;
    margin-left: 0;
  }
}
