.blogCard {
  position: relative;
  height: 250px;
  width: 330px;
  box-shadow: 3px 1px 13px 7px rgba(206, 198, 198, 0.479);
  border-radius: 6px;
  transition: 0.2s;
}
.blogCard:hover {
  transform: scale(1.02);
}
.blogCard img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px 6px 0px 0px;
}

.blogCard p {
  font-size: responsive-font(12px);
  margin-left: 6px;
  color: gray;
}
.blogCardCategory {
  position: absolute;
  bottom: 60px;
  right: 0px;
  color: white;
  width: 80.54px;
  height: 18.18px;
  text-align: center;
  font-weight: 500;
  background: #cc9900;
  border: 2px solid white;
  font-size: 10px;
}
