*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:  #F2F5F7;
    ;
}

.main{
    width:60vw;
    /* background-color: blueviolet; */
    margin:0 auto;
}

.photo{
    width:50vw;
    height:70vh;
    /* background-color: cornsilk; */
    position: relative;
    border-style: solid;
    border-width: 0.5px;
    background-color: white;
    margin: 0 auto;
}

.photo button{
    position: absolute;
    top: 50%;
    left: 45%;
}

.buttons{
    padding: 2rem;
    margin: o auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.buttons button{
    padding: 10px 60px;
    background-image: linear-gradient(270deg, #02A4FF 0%, #7D40FF 162.75%);
    color: white;
    font-weight: 400;
    border-style: none;
    border-radius: 4px;
  
    
   
}



.firstbutton{
    padding:15px;
}



