@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap");
.fullWidth {
  width: 100%;
  position: relative;
  height: auto;
  font-family: "Raleway", sans-serif;
  color: #383874;
}
.Infobox{
  margin-bottom: 2rem;
}
.notationText {
  color: #ff708b;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 0 !important;
  line-height: 1.1;
  margin-top: 0.45rem;
}
.blueText {
  color:  #8676FF;
}
.formControl {
  border: 1px solid #383874 !important;
}
.textCenterv2 {
  text-align: center;
}
.btn {
  position: relative;
  color: #fff;
  padding: 10px 30px;
  background: #383874;
  border: 1px solid #383874;
  border-radius: 5px;
  font-size: 16px;
  margin: 2rem 2rem;
  filter: drop-shadow(4px 6px 30px rgba(134, 118, 255, 0.45));
}
.btn:not(:last-child){
  margin-right: 2rem;
}
.btn2 {
  position: relative;
  color: #fff;
  padding: 10px 30px;
  background: #FF708B;
  border: 1px solid #FF708B;
  border-radius: 5px;
  font-size: 16px;
  margin: 2rem 2rem;
  filter: drop-shadow(4px 6px 30px rgba(255, 112, 139, 0.45));
}

