*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F5F7;
}

h1{
    padding: 60px;text-align: center;color: #383874;
}

.cards{
  
   
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card{
    height:40vh;
    width:20vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* box-shadow: 0 0 10px rgb(0, 0, 0, 1); */
    border-style: solid;
    border-color: solid rgb(46, 44, 44);
    border-width: 0.5px;
    padding: 20px;
}

.card:hover{
    background-color: white;
}

.card:hover a{
    color: red;
}

.main{
  
    width:50vw;
    margin:10vh auto;
}



@media only screen and (max-width: 830px) {
    .cards{
    
        /* width:60vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr) ;
        grid-template-rows: repeat(6,10vh);
        grid-gap: 40px;
        margin: 0 auto; */
        display: flex;
        flex-direction: column;
    
}

   .card{
       width:200px;
       margin-bottom: 20px;
   }

   h1{
       padding:0;
       margin-bottom:20px;
   }
  }

